.menuMain {
    /* width: 100vw; */
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
    background-color: black;
    color: #fff;
}

.menuMain a {
    font-weight: bold;
    color: white;
    padding: 15px 10px 10px 10px;
    text-decoration: none;
    margin: auto;
    transition: 0.75s;
}

.menuMain a:hover {
    color:#777
}
.menuMain a:active {
    color:var(--color2)
}